<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-color: coral;
        }
        * {
            box-sizing: border-box;
        }
        .row {
            display: flex;
        }

        /* Create two equal columns that sits next to each other */
        .column {
            /*flex: 33%;*/
            flex-basis: 33%;
            padding: 10px;
        }

        #headline{
            text-align: center;
        }
    </style>
</head>
<body>
<h1 id="headline">Dog Home Velkommen</h1>
<div id="loginDiv">
    <form method="post" action="/dogs/login" >
        <input type="text" name="username" placeholder="brugernavn" value="doglover">
        <input type="text" name="password" placeholder="password" value="vow">
        <input type="submit" value="Log ind" >
    </form>
</div>
<div th:if="${session.loginstatus == 'yes'}" class="row">
    <div class="column" style="background-color:#aaa">
        <h2>Opret samarit: Navn</h2>
        <form action="/dogs/addOwner" method="post">
            <input type="text" placeholder="navn" name="firstName">
            <input type="submit" value="gem">
        </form>
        <h2>Giv hund til ejer:</h2>
        <form action="/dogs/adopt" method="post" th:each="owner : ${owners}">
            <input type="text" th:value="${owner.firstName}" name="firstName">
            <input type="hidden" th:value="${owner.id}" name="id">
            <select name="dogid">
                <option th:each="dog : ${ownerlessdogs}" th:value="${dog.id}" th:text="${dog.name}">Ejerløse Hunde</option>
            </select>
            <input type="submit" value="Gem">
        </form>
    </div>
    <div class="column" style="background-color:#bbb;">
        <h2>Ejerløse hunde</h2>
        <div th:each="dog : ${ownerlessdogs}">
            <h3 th:text="${dog.name}"> Hundens navn </h3>
            <img width="400" th:src="${dog.imageUrl}">
        </div>
    </div>
    <div class="column" style="background-color:#ccc;">
        <h2>Opret hund:</h2>
        <h3>navn og billede URL</h3>
        <form method="post" action="/dogs/addDog">
            Navn:
            <input type="text" name="name"></br>
            Billede url:
            <input type="text" name="imageUrl">

            <input type="submit" value="Gem">
        </form>
        <div th:each="dog:${dogs}">
            <h3 th:text="${dog.name}"> Hundens navn </h3>
            <h3 th:text="${dog.getOwner().getFirstName()}"> Ejers navn</h3>
            <img width="400" th:src="${dog.imageUrl}">
        </div>
    </div>
</div>
</body>
</html>